# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# another files
advanced_level/
basic_level/
educational_files/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Python environment files
pip-log.txt

# Logs
*.log

# Coverage
htmlcov/
.coverage

# Secrets
.env
